[user]
	name = xxxx
	email = xxxx

[alias]
	d = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = false
	trustExitCode = true
[core]
	editor = vim
	abbrev = 7
[pretty]
	fixes = Fixes: %h (\"%s\")

